/*--------------------------------------------------------------
## Footer styles
--------------------------------------------------------------*/
#footer {
  background-color: #222;
}

/*--------------------------------------------------------------
## Sticky footer - keep this at the end
--------------------------------------------------------------*/
html {
  position: relative;
  min-height: 100%;
  margin-top: 0 !important;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}
